fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
httpx
pydantic
pydantic-settings
python-dotenv
alembic
passlib[bcrypt]
bcrypt
email-validator
chromadb
langchain-community
langchain-text-splitters
pypdf
sentence-transformers
python-multipart
duckduckgo-search
paramiko
oracledb
